/* СТОРІНКА */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eef2ff;
}

/* ЗАГОЛОВОК */
h1 {
  text-align: center;
  padding: 20px;
  background: #0d6efd;
  color: white;
  margin: 0;
}

/* СЕКЦІЇ */
section {
  margin: 40px;
}

/* СІТКА */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 15px;
}

/* БЛОКИ */
.grid > div {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* ДЕМО */
.grid div div {
  background: lightblue;
  padding: 20px;
}

/* КОД */
pre {
  margin: 0;
}

code {
  font-size: 18px;
  line-height: 1.6;
  display: block;
  padding: 15px;
  border-radius: 8px;
}

/* HTML */
.html {
  background: #1e1e1e;
  color: #4fc3f7;
}

/* CSS */
.css {
  background: #1e1e1e;
  color: #81c784;
}
.header-table{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-table div{
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  background: #dee2e6;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}